.card .tools-wrapper {
  font-size: 14px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 15px;
  background-color: #fff;
  border-radius: 2px;
}

.card .tools-wrapper div {
  padding: 10px 5px;
}

.card .tools-wrapper .ui.basic.buttons {
  box-shadow: none;
  border: 0;
  padding: 0;
}

/* .card .tools-wrapper .ui.icon.button.isFavorite {
  color: #fd6060;
} */

.card-wrapper .ui.message {
  position: fixed;
  top: 10px;
  left: 25%;
  z-index: 10;
}
